body {
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  height: 100vh;
}

.Sidebar {
  color: white;
  height: 50%;
  width: 100px;
  background-color: black;
}

.grid-container {
  display: grid;
  grid-template-columns: 10% 84%;
  grid-gap: 10px;
}

.grid-item1 {
  background-color: black;
  /* border-radius: 20px; */
  padding: 5px;
  height: 100vh;
  padding-top: 200px;
}

.grid-item2 {
  background-color: white;
  /* border-radius: 20px; */
  padding: 10px;
  height: 100vh;
  padding-top: 90px;
}

.grid-item1-1 {
  background-color: #111111;
  /* border-radius: 20px; */
  padding: 10px;
}

.list {
  background-color: black;
  list-style: none;
  text-align: center;
  justify-content: center;
  padding-top: 20px;
}

.page {
  display: flex;
  height: 70vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: black;
  border: 5px solid black;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
}
